<p-dialog header="modifier le mot de passe" [(visible)]="viewDialog" [style]="{width: '50vw'}" [maximizable]="true">
  <div class="row my-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="1">Mot de passe</label>
        <input class="form-control my-2" id="1" type="text" placeholder="Entrez votre mot de passe" [(ngModel)]="passwordAndEmailChange.password">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="2">confirmer votre mot de passe</label>
        <input class="form-control my-2" id="2" type="text" [(ngModel)]="password">
      </div>
    </div>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
    <p>{{errorMsg}}</p>
  </div>
  <ng-template pTemplate="footer">
    <div class="p-flexbox">
      <p-button class="mx-2 my-2" label="edit" (click)="update()" [rounded]="true" severity="warning"
                icon="pi pi-check"></p-button>
    </div>
  </ng-template>

</p-dialog>
