.row-overlap {
  margin-top: -15%;
  position: relative;
  z-index: 2;
}
.card {
  margin-bottom: 20px;
}

form label{
  font-size: 18px;
  color:#8f9096;
}
form .form-control,form .form-control:focus{
  border-color:transparent;
  border-bottom-color: #1e1e1e;
  box-shadow:none;
}
.bg-info {
  border-color: #2d2d2d;
  background: linear-gradient(90deg, #f1764d, #514d6c) !important;
}
