<p-dialog header="Reunion" [(visible)]="viewDialog" [style]="{width: '70vw'}" [maximizable]="true">
  <div class="row my-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="1">code</label>
        <input class="form-control my-2" id="1" type="text" [disabled]="true" [(ngModel)]="item.code">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="2">title</label>
        <input class="form-control my-2" id="2" type="text" [disabled]="true" [(ngModel)]="item.title">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="3">debut</label>
        <input class="form-control my-2" id="3" type="text" [disabled]="true" [(ngModel)]="item.heureDebut">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="4">fin</label>
        <input class="form-control my-2" id="4" type="text" [disabled]="true" [(ngModel)]="item.heureFin">
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="5">date</label>
        <input class="form-control my-2" id="5" type="text" [disabled]="true" [(ngModel)]="item.date">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="6">participants</label>
        <p-dropdown appendTo="body" [options]="item.employes" [(ngModel)]="item.employes" id="6" [filter]="true" filterMatchMode="contains"
                    [showClear]="true" optionLabel="nom" placeholder="participants" class="custom-dropdown"
                    [style]="{'width': '100%', 'max-height': '200px', 'overflow-y': 'auto'}">
        </p-dropdown>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="7">objectif</label>
        <input class="form-control my-2" id="7" type="text" [disabled]="true" [(ngModel)]="item.objectif">
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="p-flexbox">
      <p-button class="mx-2" label="éditer" (click)="edit(item)" [rounded]="true" severity="success"
                icon="pi pi-check"></p-button>
      <p-button label="supprimer" (click)="delete(item)" [rounded]="true" severity="danger"
                icon="pi pi-times"></p-button>
    </div>
  </ng-template>


</p-dialog>
<p-confirmDialog/>
<p-toast/>
<app-reunion-edit/>

