<div class="card my-3">
  <div class="card-body d-flex justify-content-between align-items-center">
    <div>
      <h5 class="card-title">Congés</h5>
      <p class="card-text">dashboard > congés</p>
    </div>
    <p-button label="Ajouter une congé" (click)="showDialog()"  severity="warning" icon="pi pi-plus" size="small"></p-button>
  </div>
</div>


<p-table [value]="items"  [tableStyle]="{'min-width': '1rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="code" >code<p-sortIcon field="code"></p-sortIcon></th>
      <th pSortableColumn="employe" >employe<p-sortIcon field="employe"></p-sortIcon></th>
      <th pSortableColumn="dateDebut" >date début<p-sortIcon field="dateDebut"></p-sortIcon></th>
      <th pSortableColumn="dateFin" >date fin<p-sortIcon field="dateFin"></p-sortIcon></th>
      <th pSortableColumn="duree" >duree<p-sortIcon field="duree"></p-sortIcon></th>
      <th pSortableColumn="etat" >etat<p-sortIcon field="etat"></p-sortIcon></th>
      <th pSortableColumn="action" style="width : 20%">Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{item.code}}</td>
      <td>{{item.employe?.nom}}</td>
      <td>{{item.dateDebut | date:'yyyy-MM-dd'}}</td>
      <td>{{item.dateFin | date:'yyyy-MM-dd'}}</td>
      <td>{{item.duree}} jours</td>
      <td>
          <span [ngStyle]="{'background-color': getColor(item.etat?.libelle)}" class="role-span">{{ item.etat?.libelle }}</span>
      </td>
      <td>
        <div class="btn-group" role="group"
             aria-label="Basic outlined example">
          <button type="button"
                  class="btn btn-sm btn-outline-secondary" (click)="view(item)">
            <i class="fa fa-circle-info"></i>
          </button>
          <button type="button"
                  class="btn btn-sm btn-outline-primary" (click)="edit(item)">
            <i class="fa fa-pen-to-square"></i>
          </button>
          <button type="button"
                  class="btn btn-sm btn-outline-danger" (click)="delete(item)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-toast/>
<p-confirmDialog/>
<app-conge-create></app-conge-create>
<app-conge-view></app-conge-view>
<app-conge-edit></app-conge-edit>

