<p-dialog header="Editer la reunion" [(visible)]="editDialog" [style]="{width: '70vw'}"
          [maximizable]="true" position="topright">
  <div class="row my-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="1">code</label>
        <input class="form-control my-2" id="1" type="text" [(ngModel)]="item.code" disabled>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="2">title</label>
        <input class="form-control my-2" id="2" type="text" [(ngModel)]="item.title">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="3">heure debut</label>
        <input class="form-control my-2" id="3" type="time" [(ngModel)]="item.heureDebut">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="4">heure fin</label>
        <input class="form-control my-2" id="4" type="time" [(ngModel)]="item.heureFin">
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="5">date</label>
        <input class="form-control my-2" id="5" type="date" [(ngModel)]="item.date">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="6" >participants</label>
        <p-multiSelect
          id="6"
          [options]="employes"
          [(ngModel)]="item.employes"
          optionLabel="nom"
          placeholder="Select participants"
          [style]="{'width': '100%'}"/>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="7">Objectif</label>
        <textarea class="form-control my-2" id="7" type="text" [(ngModel)]="item.objectif"></textarea>

      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="p-flexbox">
      <p-button class="mx-2" label="modifier" (click)="update()" [rounded]="true" severity="success"
                icon="pi pi-check"></p-button>
      <p-button label="annuler" (click)="hideEditDialog()" [rounded]="true" severity="danger"
                icon="pi pi-times"></p-button>
    </div>
  </ng-template>

</p-dialog>
<p-toast></p-toast>
