
<div class="row">
  <div class="col-lg-3 col-sm-6 col-12 my-2">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="media d-flex">
            <div class="align-self-center">
              <i class="fa-solid fa-user-tie lg mx-4 text-primary"></i>
            </div>
            <div class="media-body text-right">
              <h5>278</h5>
              <span>Employes</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12 my-2">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="media d-flex">
            <div class="align-self-center">
              <i class="fa-solid fa-building lg mx-4 text-warning"></i>
            </div>
            <div class="media-body text-right">
              <h5>156</h5>
              <span>Departements</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12 my-2">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="media d-flex">
            <div class="align-self-center">
              <i class="fa-solid fa-suitcase lg mx-4 text-danger"></i>
            </div>
            <div class="media-body text-right">
              <h5>0</h5>
              <span>Conge</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12 my-2">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="media d-flex">
            <div class="align-self-center">
              <i class="fa-solid fa-money-bill-1 lg mx-4 text-success"></i>
            </div>
            <div class="media-body text-right">
              <h5>423</h5>
              <span>salaire</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row my-3">
  <div class="col-xl-6 col-sm-6">
    <div class="card text-center">
      <div class="card-header">
        Total employees
      </div>
      <div class="card-body">
        <app-pie-chart></app-pie-chart>
      </div>

    </div>

  </div>
</div>



