<div class="container bg-light-subtle" >
  <!-- First Row with a Banner -->
  <div class="row ">
    <div class="col-12">
      <div class="jumbotron">
        <h4 class="">Profile</h4>
        <img src="assets/hr.jpg" class="rounded-4 img-fluid my-3 w-100" alt="Banner Image">
        <hr class="my-4">
      </div>
    </div>
  </div>

  <!-- Second Row with Cards in Columns -->
  <div class="row row-overlap mx-4">
    <div class="col-md-3">
      <div class="card h-100 bg-info">
        <img class="mt-4 mx-5 rounded-circle img-fluid" src="{{item.imagePath}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-light text-center">{{ item.nom }} {{ item.prenom }}</h5>
          <p class="card-text text-light text-center">{{ item.postDto?.libelle }}</p>

        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card ">
        <div class="card-body">
          <form>
            <div class="row mb-3">
              <div class="form-group col-md-6">
                <label for="matricule">Matricule</label>
                <input type="text" class="form-control" id="matricule" placeholder="Matricule" name="matricule" [ngModel]="item.matricule" [disabled]="true">
              </div>
              <div class="form-group col-md-6">
                <label for="cin">CIN</label>
                <input type="text" class="form-control" id="cin" placeholder="CIN" name="cin" [ngModel]="item.cin" [disabled]="true">
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-group col-md-6">
                <label for="nom">Nom</label>
                <input type="text" class="form-control" id="nom" placeholder="Nom" name="nom" [ngModel]="item.nom" [disabled]="true">
              </div>
              <div class="form-group col-md-6">
                <label for="prenom">Prenom</label>
                <input type="text" class="form-control" id="prenom" placeholder="Prenom" name="prenom" [ngModel]="item.prenom" [disabled]="true">
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-group col-md-6">
                <label for="adresse">Adresse</label>
                <input type="text" class="form-control" id="adresse" placeholder="Adresse" name="adresse" [ngModel]="item.adresse" [disabled]="true">
              </div>
              <div class="form-group col-md-6">
                <label for="gender">Gender</label>
                <input type="text" class="form-control" id="gender" placeholder="Gender" name="gender" [ngModel]="item.gender?.libelle" [disabled]="true">
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-group col-md-6">
                <label for="telephone">Telephone</label>
                <input type="text" class="form-control" id="telephone" placeholder="Telephone" name="telephone" [ngModel]="item.telephone" [disabled]="true">
              </div>
              <div class="form-group col-md-6">
                <label for="salaire">Salaire</label>
                <input type="number" class="form-control" id="salaire" placeholder="Salaire" name="salaire" [ngModel]="item.salaire" [disabled]="true">
              </div>
            </div>

            <div class="row mb-3">
              <div class="form-group col-md-6">
                <label for="dateEmbauche">Date Embauche</label>
                <input type="text" class="form-control" id="dateEmbauche" name="dateEmbauche" [ngModel]="item.dateEmbauche | date:'yyyy-MM-dd'" [disabled]="true">
              </div>
              <div class="form-group col-md-6">
                <label for="departement">Departement</label>
                <input type="text" class="form-control" id="departement" placeholder="Departement" name="departement" [ngModel]="item.departementDto?.libelle" [disabled]="true">
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-group col-md-6">
                <label for="post">Post</label>
                <input type="text" class="form-control" id="post" placeholder="Post" name="poste" [ngModel]="item.postDto?.libelle" [disabled]="true">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
