<p-dialog header="Employe" [(visible)]="editDialog" [style]="{width: '50vw'}" [maximizable]="true">
  <div class="row my-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="1">Nom d'utilisateur</label>
        <input class="form-control my-2" id="1" type="text" [(ngModel)]="item.username">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="2">Mot de passe</label>
        <input class="form-control my-2" id="2" type="text" placeholder="Changez votre mot de passe" [(ngModel)]="item.password">
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="3">Email</label>
        <input class="form-control my-2" id="3" type="text" [(ngModel)]="item.email">
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="p-flexbox">
      <p-button class="mx-2 my-2" label="edit" (click)="update()" [rounded]="true" severity="warning"
                icon="pi pi-check"></p-button>
      <p-button label="cancel" (click)="hideCreateDialog()" [rounded]="true" severity="warning"
                icon="pi pi-times"></p-button>
    </div>
  </ng-template>

</p-dialog>
<p-toast></p-toast>
