<div class="card my-3">
  <div class="card-body d-flex justify-content-between align-items-center">
    <div>
      <h5 class="card-title">Demande d'absence</h5>
      <p class="card-text">dashboard > demande d'absence</p>
    </div>
    <p-button label="Ajoute demande" (click)="showDialog()"  severity="info" icon="pi pi-plus" size="small"></p-button>
  </div>
</div>


<p-table [value]="items"  [tableStyle]="{'min-width': '1rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="code" >Code<p-sortIcon field="code"></p-sortIcon></th>
      <th pSortableColumn="raison" >Raison<p-sortIcon field="raison"></p-sortIcon></th>
      <th pSortableColumn="matricule" >Nom<p-sortIcon field="matricule"></p-sortIcon></th>
      <th pSortableColumn="dateDebut" >Date debut<p-sortIcon field="dateDebut"></p-sortIcon></th>
      <th pSortableColumn="dateFin" >Date fin<p-sortIcon field="dateFin"></p-sortIcon></th>
      <th pSortableColumn="typeAbsence" >Type d'absence<p-sortIcon field="typeAbsence"></p-sortIcon></th>
      <th pSortableColumn="etatDemande" >Etat de demande<p-sortIcon field="etatDemande"></p-sortIcon></th>
      <th pSortableColumn="action" style="width : 20%">Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{item.code}}</td>
      <td>{{item.raison}}</td>
      <td>{{item.employe?.nom}}</td>
      <td>{{ item.dateDebut | date:'yyyy-MM-dd' }}</td>
      <td>{{ item.dateFin | date:'yyyy-MM-dd' }}</td>
      <td>{{item.typeAbsence?.libelle}}</td>
      <td>{{item.etatDemande?.libelle}}</td>
      <td>
        <div class="btn-group" role="group"
             aria-label="Basic outlined example">
          <button type="button"
                  class="btn btn-sm btn-outline-secondary" (click)="view(item)">
            <i class="fa fa-circle-info"></i>
          </button>
          <button type="button"
                  class="btn btn-sm btn-outline-primary" (click)="edit(item)">
            <i class="fa fa-pen-to-square"></i>
          </button>
          <button type="button"
                  class="btn btn-sm btn-outline-danger" (click)="delete(item)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<app-demande-absence-create></app-demande-absence-create>
<app-demande-absence-view></app-demande-absence-view>
<app-demande-absence-edit></app-demande-absence-edit>
<app-demande-absence-delete></app-demande-absence-delete>

