<div class="container-fluid p-0 d-flex h-100">
  <user-sidebar class="w-25"></user-sidebar>

  <div class="bg-light flex-fill">

    <div class="p-2 d-flex text-white bg-info">
      <a href="#" class="text-white d-md-none"
         data-bs-toggle="offcanvas"
         data-bs-target="#bdSidebar">
        <i class="fa-solid fa-bars"></i>
      </a>
      <img src="assets/logo.webp" alt="AlamiEcom Logo" class="ms-3 d-md-none" style="height: 24px; width: 100px;">
      <div class="ms-auto">
        <a href="#" class="sidebar-link a" (click)="showNotifi($event)">
          <i class="fa fa-bell"><span class="notification-badge" *ngIf="arrayOfNotifications.length > 0">{{ arrayOfNotifications.length }}</span></i>
        </a>
        <a class="a" routerLink="/app-user/profile/">
          <img
            class="rounded-circle mx-3"

            src="{{imgPath}}"
            width="28"
            style="vertical-align: middle" />
        </a>

        <a href="#" class="sidebar-link a" (click)="logout()">
          <i class="lni lni-exit"></i>
          <span>Logout</span>
        </a>
      </div>
    </div>


    <div class="p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
  <p-dialog header="Notifications" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <div class="container">
      <div class="">
        @for (element of notifications; track element; let i = $index){
          <div class="list-group-item ">
            <hr>
            <h5 class="mb-1 text-1">{{element.objectif}}</h5>
            <p class="mb-1">{{element.message}}</p>
            <small class="text-muted">{{ parseDate(element.timeSend) | date: 'yyyy-MM-dd HH:mm:ss' }}</small>

          </div>
        }
        <hr>

      </div>
    </div>
  </p-dialog>
</div>




