<p-dialog header="Departement" [(visible)]="createDialog" [style]="{width: '70vw'}" [maximizable]="true">
  <div class="row my-3">
    <div class="col-md-4">
      <div class="form-group">
        <label for="1">code</label>
        <input class="form-control my-2" id="1" type="text" [(ngModel)]="item.code">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="2">libelle</label>
        <input class="form-control my-2" id="2" type="text" [(ngModel)]="item.libelle">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="3">date creation</label>
        <input class="form-control my-2" id="3" type="date" [(ngModel)]="item.dateCreation">
      </div>
    </div>

  </div>

  <ng-template pTemplate="footer" >
    <div class="p-flexbox">
      <p-button class="mx-2" label="save" (click)="save()" [rounded]="true" severity="warning" icon="pi pi-check" ></p-button>
      <p-button label="cancel" (click)="hideCreateDialog()" [rounded]="true" severity="warning" icon="pi pi-times" ></p-button>
    </div>
  </ng-template>

</p-dialog>
<p-toast></p-toast>
