
.card {
  background-color: #f16c3c;
  color: white;
}

.fc { /* the calendar root */
  max-width: 1200px;
  margin: 0 auto;
  height : 500px;

  border-radius: 40px
}






.event-container {
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background-color: #f5a30a;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.event-container:hover {
  background-color: #2469d3;
}

.hr-btn {
  border-radius: 5px;
}
