.lg {
  font-size: 30px;
}


.employee-info {
  display: flex;
  justify-content: space-between;
}
.admin {
  border: solid 1px #b2b2b2;
  border-radius: 10px;
  background: linear-gradient(80deg, #f1764d, #514d6c) !important;
}
.bg-2 {
  background-color: #514d6c;
}
.bg-1 {
  background-color: #f1764d;
}

.text-3 {
  color: #fff;
}
