.lg {
  font-size: 30px;
}


.employee-info {
  display: flex;
  justify-content: space-between;
}
.img {
  height : 150px;
  width: 150px;
}
.bg-2 {
  background-color: #514d6c;
}
.bg-1 {
  background-color: #f1764d;
}

.text-3 {
  color: #fff;
}
.bg-info {
  border-color: #2d2d2d;
  background: linear-gradient(90deg, #f1764d , #514d6c 70%) !important;
}

