<div class="container-fluid">
  <div class="row my-3 d-flex align-items-stretch">
    <div class="col-sm-6 mb-3">
      <div class="card cardView h-100">
        <div class="card-body">
          <div class="pre-div">
            <h3 class="card-title">Bonjour, {{employe.prenom}}</h3>
            <h5 *ngIf="reunions.length !== 0" class="card-text">Vous avez <u class="underline-text">{{ reunions.length === 1 ? 'une' : (reunions.length <= 10 ? convertirEnMots(reunions.length) : reunions.length) }}</u> réunion{{ reunions.length <= 1 ? '' : 's' }} aujourd'hui,</h5>
            <button type="button" data-mdb-button-init data-mdb-ripple-init
                    class="btn btn-classe btn-lg btn-block btn-primary btn-sm" (click)="showProfil()">Voir profile
            </button>
          </div>
          <div class="circle-image">
            <img src="{{employe.imagePath}}" alt="Image">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-3">
      <div class="card h-100">
        <div class="mt-2 mp-n1 mx-3">
          <h5>Présence</h5>
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <div class="row body-class1">
              <div class="col-sm-4 mt-3">
                Temps de travail
              </div>
              <div class="col-sm-8 mt-3 d-flex">
                <button class="btn btn-classe1" (click)="clockIn()">Clock-In</button>
                <button class="btn btn-classe1" (click)="clockOut()">Clock-Out</button>
              </div>
            </div>
            <div class="row mx-3">
              <div class="col-sm-4">
                <p>Heure Debut<br>{{parseDate(horaire.debut)}}</p>
              </div>
              <div class="col-sm-4">
                <p>Heure Fin<br>{{parseDate(horaire.fin)}}</p>
              </div>
              <div class="col-sm-4">
                <p>Pause:<br>{{horaire.pause}} Heure</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3 d-flex align-items-stretch">
    <div class="col-sm-6 mb-3">
      <div class="card h-100">
        <div class="mt-2 mx-3">
          <h5>Politique de l'entreprise</h5>
        </div>
        <div class="icon_classe">
          <i class="fas fa-chevron-left mx-2 i-classe"></i>
          <i class="fas fa-chevron-right i-classe"></i>
        </div>
        <div class="card-body d-flex align-items-stretch">
          <div class="class1 h-100">
            <p class="mx-3 mt-2"><samp class="smp-classe">HR</samp> Politique RH</p>
            <div class="mx-3">
              <p>Nom de la politique : Politique de travail</p>
              <p>Mis à jour le : Aujourd'hui</p>
              <button type="button" class="btn btnClass2 btn-link"><i class="bi bi-download"></i></button>
            </div>
          </div>
          <div class="class2 h-100">
            <p class="mx-3 mt-2"><samp class="smp-classe">EP</samp> Politique EP</p>
            <div class="mx-3">
              <p>Nom de la politique : Stationnement</p>
              <p>Mis à jour le : 25 Janv. 2024</p>
              <button type="button" class="btn btnClassbtn btn-link"><i class="bi bi-download"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-3">
      <div class="card h-100">
        <div class="mt-2 mp-n1 mx-3">
          <h5>Statistiques <samp class="sampClass">{{anneeActuelle}}</samp></h5>
        </div>
        <div class="card-body">
          <div class="mx-4">
            <p class="card-text"><span style="color:#fc6132">{{totaleCongeDispo}}</span><br> Jours Congés<br> disponibles</p>
            <p class="card-text"><span style="color:#ae08f6">3</span><br> Totale<br> demandes</p>
          </div>
          <div class="mx-4">
            <p class="card-text"><span style="color:#657cef">3</span><br> Jours<br> travaillés</p>
            <p class="card-text"><span style="color:#e84646">3</span><br> Totale<br> commissions</p>
          </div>
          <div class="mx-4">
            <p class="card-text"><span style="color:#02801f">3</span><br> Jours<br> absents</p>
            <p class="card-text"><span style="color:#e00517">3</span><br> Totale<br> réunions</p>
          </div>
        </div>
        <div class="card-footer" style="height:50px">
          <p>Demande de congé</p>
          <button type="button" class="btn btnClass3 btn-link" (click)="applyLeave()"><i class="bi bi-arrow-right-circle"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

