<body>
<div class="container d-flex flex-column">
  <div class="row align-items-center justify-content-center
      min-vh-100 g-0">
    <div class="col-12 col-md-8 col-lg-4 border-top border-3 border-primary">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="mb-4">
            <h5>Forgot Password?</h5>
            <p class="mb-2">Enter your registered email ID to reset the password
            </p>
          </div>
          <form>
            <div class="mb-3">
              <label for="username">Username :</label><br>
              <input type="text" id="username" name="username" value="VotreNomDUtilisateur" disabled><br>
            </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password :</label>
                <input type="text" id="password" class="form-control" placeholder="Enter password">
              </div>
              <div class="mb-3 d-grid">
                <button type="submit" class="btn btn-primary" >Verify</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
