<p-dialog header="Employe" [(visible)]="viewDialog" [style]="{width: '70vw'}" [maximizable]="true">
  <div class="row my-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="1">Matricule</label>
        <input class="form-control my-2" id="1" type="text" [disabled]="true" [(ngModel)]="item.matricule">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="2">CIN</label>
        <input class="form-control my-2" id="2" type="text" [disabled]="true" [(ngModel)]="item.cin">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="3">Nom</label>
        <input class="form-control my-2" id="3" type="text" [disabled]="true" [(ngModel)]="item.nom">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="4">Prénom</label>
        <input class="form-control my-2" id="4" type="text" [disabled]="true" [(ngModel)]="item.prenom">
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="5">Gender</label>
        <input class="form-control my-2" id="5" type="text" [disabled]="true" [ngModel]="item.gender?.libelle">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="6">Address</label>
        <input class="form-control my-2" id="6" type="text" [disabled]="true" [(ngModel)]="item.adresse">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="7">Tel</label>
        <input class="form-control my-2" id="7" type="text" placeholder="telephone" [disabled]="true" [(ngModel)]="item.telephone">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="8">Salaire</label>
        <input class="form-control my-2" id="8" type="number" [disabled]="true" [(ngModel)]="item.salaire">
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4">
      <div class="form-group">
        <label for="9">Date Embauche</label>
        <input class="form-control my-2" id="9" type="date" [disabled]="true" [(ngModel)]="item.dateEmbauche">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="10">Poste</label>
        <input class="form-control my-2" id="10" type="text" [disabled]="true" [ngModel]="item.postDto?.libelle">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="11">Departement</label>
        <input class="form-control my-2" id="11" type="text" [disabled]="true" [ngModel]="item.departementDto?.libelle">
      </div>
    </div>
  </div>
</p-dialog>

