<p-dialog header="Employe" [(visible)]="editDialog" [style]="{width: '70vw'}" [maximizable]="true">
  <div class="row my-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="1">Matricule</label>
        <input class="form-control my-2" id="1" type="text" [disabled]="true" [(ngModel)]="item.matricule">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="2">CIN</label>
        <input class="form-control my-2" id="2" type="text" [(ngModel)]="item.cin">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="3">Nom</label>
        <input class="form-control my-2" id="3" type="text" [(ngModel)]="item.nom">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="4">Prénom</label>
        <input class="form-control my-2" id="4" type="text" [(ngModel)]="item.prenom">
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="11" class="dropdown-label">gender</label>
        <div class="dropdown-container">
          <p-dropdown appendTo="body" [options]="genders" [(ngModel)]="item.gender" id="5" [filter]="true" filterMatchMode="contains"
                      [showClear]="true" optionLabel="libelle" placeholder="gender" class="custom-dropdown"
                      [style]="{'width': '100%', 'max-height': '200px', 'overflow-y': 'auto'}">
          </p-dropdown>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="6">Address</label>
        <input class="form-control my-2" id="6" type="text" [(ngModel)]="item.adresse">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="7">Tel</label>
        <input class="form-control my-2" id="7" type="text" [(ngModel)]="item.telephone">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="8">Salaire</label>
        <input class="form-control my-2" id="8" type="number" [(ngModel)]="item.salaire">
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4">
      <div class="form-group">
        <label for="9">Date Embauche</label>
        <input class="form-control my-2" id="9" type="date" [(ngModel)]="item.dateEmbauche">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="10" class="dropdown-label">Poste</label>
        <div class="dropdown-container">
          <p-dropdown appendTo="body" [options]="posts" [(ngModel)]="item.postDto" id="10" [filter]="true" filterMatchMode="contains"
                      [showClear]="true" optionLabel="libelle" placeholder="poste" class="custom-dropdown"
                      [style]="{'width': '100%', 'max-height': '200px', 'overflow-y': 'auto'}">
          </p-dropdown>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="11" class="dropdown-label">Departement</label>
        <div class="dropdown-container">
          <p-dropdown appendTo="body" [options]="departements" [(ngModel)]="item.departementDto" id="11" [filter]="true" filterMatchMode="contains"
                      [showClear]="true" optionLabel="libelle" placeholder="departement" class="custom-dropdown"
                      [style]="{'width': '100%', 'max-height': '200px', 'overflow-y': 'auto'}">
          </p-dropdown>
        </div>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer" >
    <div class="p-flexbox">
      <p-button class="mx-2 my-2" label="edit" (click)="update()" [rounded]="true" severity="warning" icon="pi pi-check" ></p-button>
      <p-button label="cancel" (click)="hideCreateDialog()" [rounded]="true" severity="warning" icon="pi pi-times" ></p-button>
    </div>
  </ng-template>

</p-dialog>

