<div class="card my-3">
  <div class="card-body d-flex justify-content-between align-items-center">
    <div>
      <h5 class="card-title">Employe</h5>
      <p class="card-text">dashboard > employe</p>
    </div>
    <p-button label="Ajoute employe" (click)="showDialog()"  severity="warning" icon="pi pi-plus" size="small"></p-button>
  </div>
</div>


<p-table [value]="items"  [tableStyle]="{'min-width': '1rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="matricule" >Matricule<p-sortIcon field="matricule"></p-sortIcon></th>
      <th pSortableColumn="cin" >CIN<p-sortIcon field="cin"></p-sortIcon></th>
      <th pSortableColumn="nom" >Nom<p-sortIcon field="nom"></p-sortIcon></th>
      <th pSortableColumn="prenom" >Prenom<p-sortIcon field="prenom"></p-sortIcon></th>
      <th pSortableColumn="post" >Poste<p-sortIcon field="post"></p-sortIcon></th>
      <th pSortableColumn="salaire" >Salaire <p-sortIcon field="salaire"></p-sortIcon></th>
      <th pSortableColumn="action" style="width : 20%">Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{item.matricule}}</td>
      <td>{{item.cin}}</td>
      <td>{{item.nom}}</td>
      <td>{{item.prenom}}</td>
      <td>{{item.postDto.libelle}}</td>
      <td>{{item.salaire}}</td>
      <td>
        <div class="btn-group" role="group"
             aria-label="Basic outlined example">
          <button type="button"
                  class="btn btn-sm btn-outline-secondary" (click)="view(item)">
            <i class="fa fa-circle-info"></i>
          </button>
          <button type="button"
                  class="btn btn-sm btn-outline-primary" (click)="edit(item)">
            <i class="fa fa-pen-to-square"></i>
          </button>
          <button type="button"
                  class="btn btn-sm btn-outline-danger">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<app-employe-create></app-employe-create>
<app-employe-view></app-employe-view>
<app-employe-edit></app-employe-edit>

