<p-dialog header="Commission" [(visible)]="viewDialog" [style]="{width: '70vw'}" [maximizable]="true">
  <div class="row my-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="1">code</label>
        <input class="form-control my-2" id="1" type="text" [disabled]="true" [(ngModel)]="item.code">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="2">objectif</label>
        <input class="form-control my-2" id="2" type="text" [disabled]="true" [(ngModel)]="item.objectif">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="3">mountant</label>
        <input class="form-control my-2" id="3" type="text" [disabled]="true" [(ngModel)]="item.montant">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="4">mois</label>
        <input class="form-control my-2" id="4" type="text" [disabled]="true" [(ngModel)]="item.mois">
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="5">Annee</label>
        <input class="form-control my-2" id="5" type="text" [disabled]="true" [(ngModel)]="item.annee">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="6">Employe</label>
        <input class="form-control my-2" id="6" type="text" [disabled]="true" [ngModel]="item.employe?.nom">
      </div>
    </div>


  </div>

</p-dialog>
